<div class="row">
    <div class="small-12 columns"><h3>Admin</h3></div>
    
</div>

<div class="row">
    <div class="small-9 columns"><a data-ng-href="admin/createPizzeria" class="tiny button">Ny pizzeria</a></div>
    <div class="small-3 columns"></div>
</div>

<div class="row" data-ng-repeat="p in admin.allPizzerias">
    <div class="small-9 columns"><my-Show-Pizzeria></my-Show-Pizzeria></div>
    <div class="small-3 columns">
        <a data-ng-href="admin/editPizzeria/{{p.id}}" class="tiny button">Redigera</a> <a href="" data-ng-click="admin.deletePizzeria(p.id)" class="tiny button alert">Ta bort</a>
    </div>
</div>
