<div class="row">
    <div class="small-12 columns">
		<h3>Skapa Maträtt</h3>
	</div>
</div>

<div class="row">
    <div class="small-12 columns">
		<form method="post">
			<p>Namn:</p>
			<input type="text" id="createName" name="createName" data-ng-model="admin.name" />
			<p>Ingredienser:</p>
			<input type="text" id="createIngredients" name="createIngredients" data-ng-model="admin.ingredients" />
			<p>Pris:</p>
			<input type="number" id="createPrice" name="createPrice" data-ng-model="admin.price" />
			<br>
			<input type="submit" name="login" value="Skapa" data-ng-click="admin.createDish(admin.name, admin.ingredients, admin.price)" />
		</form>
	</div>
</div>