<div class="row">
    <div class="small-12 columns">
    	<h3>{{ admin.onePizzeria[0].title }} - Redigera position</h3>
	</div>
</div>

<div class="row">
    <div class="small-12 columns">
		<form method="post">
			<p>Adress:</p>
			<input type="text" id="editAddress" name="editAddress" data-ng-model="admin.onePizzeria[0].address" />
			<br>
			<input type="submit" name="login" value="Ändra" data-ng-click="admin.editPosition(admin.onePizzeria[0].id, admin.onePizzeria[0].address)" />
		</form>
	</div>
</div>