<div class="row">
    <div class="small-6 columns">
    	<h3>Logga in</h3>
    	
    	<p>{{ login.message }}</p>

		<form method="post" > 
				<span>Användarnamn:</span>
				<input type="text" id="loginUsername" name="loginUsername" data-ng-model="filter.username" />
		
				<span>Lösenord:</span>
				<input type="password" id="loginPassword" name="loginPassword" data-ng-model="filter.password" />
				
				<input type="submit" name="login" value="Logga in" data-ng-click="login.toLogin(filter.username,filter.password)" />
		</form>
	</div>
	<div class="small-6 columns"></div>
</div>