<div class="row">
    <div class="small-12 columns">
        <h3>Karta</h3>
        <div>
            <input role="search" id="search-box" placeholder="Sök bland pizzerior" type="text" data-ng-model="filter.name" />
        </div>
    </div>
</div>

<div class="row">
    <div class="small-9 columns">
        <div class="flex-video">
            <ui-gmap-google-map center='map.start.center' zoom='map.start.zoom'>
                <ui-gmap-markers models="map.markersList | filter:filter.name" fit="true" coords="'self'" icon="{url: 'views/shared/pics/Pizza-icon.png' }">
                    <ui-gmap-windows show="show" templateUrl="'/views/shared/mapWindow.html'">
                        <div ng-non-bindable>
                            <h4>{{ title }}</h4>
                            {{ address }}
                            <br>
                            <br>
                            <h5>{{ menus[0].name }}</h5>
                            {{ menus[0].dishes[0].name }}<br>
                            {{ menus[0].dishes[1].name }}<br>
                            {{ menus[0].dishes[2].name }}<br>
                            
                        </div>
                    </ui-gmap-windows>
                </ui-gmap-markers>
            </ui-gmap-google-map>
        </div>
    </div>
    
    <div class="small-3 columns">
        <strong>Pizzerior</strong>
        <div data-ng-repeat="p in map.markersList | filter:filter.name">{{ p.title }}</div>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <span>Taggar: </span>
        <a href="#" data-ng-repeat="tag in map.tagsList" data-ng-click="map.getMarkersByTag(tag.id)">{{ tag.name }} </a>
    </div>
</div>