<div class="row">
    <div class="small-9 columns"><h5>Radera en meny</h5></div>
    <div class="small-3 columns text-right"><a data-ng-click="map.showAdminStart()">Tillbaka</a></div>
</div>

<br>
<div data-ng-show="map.errorBox" class="errorBox">
    {{ map.errorMessage }}
</div>
<div class="row">
    <div class="small-4 columns">
        <p>Pizzeria:</p>
    </div>
    <div class="small-8 columns">
        <select name="deletePizzeriaId" data-ng-model="map.selectDeleteMenu.pizzeriaid" required>
            <option ng-repeat="x in map.markersList" value="{{x.id}}">{{x.title}}</option>
        </select>
    </div>
</div>

<strong>Menyer</strong>
<div ng-repeat="m in map.allMenus | filter:{pizzeria_id: map.selectDeleteMenu.pizzeriaid}">
    <div class="row">
        <div class="small-10 columns">{{m.name}}</div>
        <div class="small-2 columns"><a ng-confirm-click="Vill du radera {{m.name}}?" ng-click="map.deleteMenu(m.id)">Radera</a></div> 
    </div>
</div>